.container {
    width: 300px;
    height: 300px;
    position: relative;
}

.blue {
    width: 200px;
    height: 200px;
    background-color: blue;
    z-index: 1;
    position: absolute;
}

.red {
    width: 100px;
    height: 100px;
    background: red;
    z-index: 1;
    position: absolute;
    margin-left: 50px;
    margin-top: 50px;
}



.blue2 {
    width: 200px;
    height: 200px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red2 {
    width: 100px;
    height: 100px;
    background: red;

}
